---
import SocialList from './SocialList.astro'

import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faCentercode, faGithub, faTwitter } from '@fortawesome/free-brands-svg-icons';
---
<style>
  .author {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .author-bio {
    width: 100%;
  }

  .author-name {
    margin: 0;
    text-align: center;
  }

  .author-desc {
    margin-bottom: 0.75rem;
    text-align: center;
  }

  .author-picture {
    width: 175px;
    order: -1;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .profile-pic {
    min-width: 175px;
    min-height: 175px;
    border: 4px solid var(--theme-accent);
    border-radius: 50%;
  }

  @media (min-width: 50em) {
    .author {
      flex-direction: row;
      align-items: flex-start;
    }

    .author-bio {
      width: 75%;
    }

    .author-name,
    .author-desc {
      text-align: left;
    }

    .author-picture {
      margin-left: 36px;
      order: 1;
    }
  }
</style>

<div class="author">
  <div class="author-bio">
    <h2 class="author-name">ryan harris</h2>
    <p class="author-desc">software engineer | content creator</p>
    <SocialList size="lg" />
  </div>
  <div class="author-picture">
    <img src="/assets/profile.jpeg" class="profile-pic" />
  </div>
</div>

