---
const navItems = [
  {
    name: "Home",
    path: "/"
  },
  {
    name: 'Blog',
    path: '/posts'
  }
  ,
  {
    name: 'Works',
    path: '/projects'
  }
]

---

<nav>
  <ul class="nav-list">
    {navItems.map(item => {
      return (
          
       

        <li class="nav-list-item">
        
          <a href={item.path}>
              {item.name}
          </a>
        </li>
      )
    })}
  </ul>
</nav>

<style>
  .nav-list {
    display: flex;
  }

  .nav-list-item {
    padding: 0 0.5rem 0.5rem 0;
    margin: 0 0.5rem 1rem 0;
    z-index: 1;
  }

  @media (min-width: 50em) {
    .nav-list-item {
      margin: 0 1rem 1rem 0;
      padding: 0 0.5rem 0.5rem 0;
      font-weight: 500;
    }
  }
</style>