---
const navItems = [
  {
    name: 'posts',
    path: '/posts'
  },
  {
    name: 'uses',
    path: '/uses'
  },
  {
    name: 'talks',
    path: '/talks'
  }
]

---

<nav>
  <ul class="nav-list">
    {navItems.map(item => {
      return (
        <li class="nav-list-item">
          <a href={item.path}>
            {item.name}
          </a>
        </li>
      )
    })}
  </ul>
</nav>

<style>
  .nav-list {
    display: flex;
  }

  .nav-list-item {
    margin-right: 1rem;
  }

  @media (min-width: 50em) {
    .nav-list-item {
      margin-left: 1rem;
    }
  }
</style>